  /* Styles for the various hyperlink types */
  a { color: #0000FF; text-decoration: none }
  a:visited {color: #0000FF }
  a:hover {color: #E4641C; text-decoration: underline }
  a.weblink {color: #0000FF; text-decoration: underline }
  a.weblink:visited {color: #0000FF}
  a.weblink:hover {color: #E4641C }
  a.popuplink {color: #FF0000; text-decoration: none}
  a.popuplink:visited {color: #FF0000}
  a.popuplink:hover {color: #FF0000; text-decoration: underline}
  a.filelink {color: #04BC14; text-decoration: none}
  a.filelink:visited {color: #04BC14}
  a.filelink:hover {color: #04BC14; text-decoration: underline}
  a.inline-toggle {color: Green; text-decoration: none;  font-weight: bold;  font-family: "Times New Roman", serif;     }
  a.inline-toggle:visited {color: Green; }
  a.inline-toggle:hover {text-decoration: underline}
  
  /* Styles for the breadcrumb trail navigation in the topic header */
  .fsmall {
  font-size: 10px;
	font-family: Verdana, Helvetica, sans-serif;
	text-align: center;
	margin: 10px 0px 0px 0px;
	}
  .crumbs {font-size: 8pt; margin-bottom: 3px; margin-top: 0px; color: #FFFFFF}
  .crumbs a {text-decoration: underline; color: #FFFFFF}
  .crumbs a:visited {text-decoration: underline; color: #FFFFFF}
  .crumbs a:hover {color: #F4BC5C}
  .expander {text-align: right; padding: 0; width: 100%; font-family: Verdana, Helvetica, sans-serif; font-size:9px; font-weight: bold; border-bottom: 2px; border-bottom-style: solid; border-bottom-color: grey;
  margin-bottom: 1px;}
  
  /* Styles for the callout and over view tables - the offsets make it possible to display the icons over the top
     left corners of the tables, which are defined with the IDs referenced here*/
  
   #callout-table, #overview-table {display:block; position:relative; top:0; left:0;}
   #callout-icon {display:block; position:absolute; top:-11px; left:-11px;}
   #callout-icon-flag {display:block; position:absolute; top:-11px; left:-8px;}
   #callout-table a {text-decoration: none; color: blue;}
   #callout-table a:visited {text-decoration: none; color: blue;}
   #overview-table a {text-decoration: none; color: black;}
   #overview-table a:visited {text-decoration: none; color: black;}
   #callout-table a:hover, #overview-table a:hover {text-decoration: underline;}
  
 /* Styles that make it possible to suppress irrelevant screen-only formatting in the print output version.
    The print styles must be included in the main template because they contain elements that cannot be put 
    in an external file. */
@media screen{
  #idcontent {    
      width: 100%; 
      padding: 0px !important; 
      padding: 10px 15px 5px 10px; 
   } 
  #innerdiv {    
      padding: 10px 5px 5px 10px !important;  
      padding: 0px; 
   } 
   
    .topichead {
       padding: 5px;
    }
    
    .navlinks {
      font-size: 10pt;
    }
    .navlinks a {
      text-decoration: none;
      color: blue;
    }
    .navlinks a:visited {
      text-decoration: none;
      color: blue;
    }
    .navlinks a:hover {
      text-decoration: underline;
      color: blue;
    }
    
   html.nonscroll { 
      overflow:hidden; 
   } 
   body.nonscroll {    
      overflow:hidden; 
      height:100%; 
   } 
   div.nonscroll { 
      overflow:auto; 
   } 
}
